.projects {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.projects h2 {
  padding-bottom: 5px;
  border-bottom: 3px solid #657B83;
  color: #268BD2;
  text-align: left;
  font-size: 2.5em;
  font-family: Dosis;
}

.projects p {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #576E75;
  text-align: left;
  font-size: 2em;
}

#rotate-js, #beat-blocks, #carbon-nation, #somers-hot-bagels, #terminal-zone {
  padding: 10px;
  margin: 20px;
  margin-top: 30px;
  background-color: #FDF6E3;
}

#learn-more-2 {
  display: flex;
  min-height: 100vh;
  background-color: #FDF6E3;
}
#learn-more-2 .float {
  margin: 0 auto;
}
#learn-more-2 h1 {
  display: block;
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 35vh;
  color: #268BD2;
  font-weight: bold;
  font-size: 10vw;
}
#learn-more-2 a:link {
  color: #268BD2;
}
#learn-more-2 a:visited {
  color: #268BD2;
}
#learn-more-2 a:hover {
  color: #2AA198;
}
#learn-more-2 a:active {
  color: #2AA198;
}
